SiteWeb/captelec-master/simulData.json
[{"id":"b353af8bea604195","type":"tab","label":"Simulation de prise de donnees","disabled":false,"info":"","env":[]},{"id":"3fa5874169782139","type":"function","z":"b353af8bea604195","name":"Generation de donnees","func":"function getRandomIntWithin(min, max) {\n  return Math.round(Math.random() * (max - min) + min);\n}\n\nlet payload = msg.payload;\n\n// extinction\nsallesActualise = [];\n\npayload.postes.forEach((pc) => {\n    if (flow.collectStamp < pc) {\n        sallesActualise.push(pc);\n    }\n});\npayload.postes = sallesActualise\n\n// allumage\nlet nbPCDispo = flow.get('salles')[payload.salle] - payload.postes.length;\nfor(i=0; i<nbPCDispo; i++) {\n    if (Math.random() <= flow.get('turnOnProb')) {\n        tempsAcivite = getRandomIntWithin(flow.get('workingTime').min, flow.get('workingTime').max);\n        payload.postes.push(Date.now() + (tempsAcivite * 60));\n    }\n}\n\n// calcule de conso totale\npayload.conso = 0;\nfor(i=0; i<payload.postes.length; i++) {\n    payload.conso += getRandomIntWithin(flow.get('conso').min, flow.get('conso').max);\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":420,"wires":[["2997cfd8543fafbe","bd6f79f5b10e3ad4"]]},{"id":"2997cfd8543fafbe","type":"debug","z":"b353af8bea604195","name":"Resultat des donnees generees","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":380,"wires":[]},{"id":"e69fda4247943b96","type":"inject","z":"b353af8bea604195","name":"New Data","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":true,"onceDelay":"0.5","topic":"","payloadType":"date","x":110,"y":100,"wires":[["46c492bb611b7b77","f8045fdc6a1a392a","42a11e7101db9a84"]]},{"id":"0df9f00020a5503b","type":"debug","z":"b353af8bea604195","name":"sequence des salles","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1220,"y":100,"wires":[]},{"id":"a38d2495fc32dfac","type":"split","z":"b353af8bea604195","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":160,"wires":[["83a99d15800f1148"]]},{"id":"46c492bb611b7b77","type":"change","z":"b353af8bea604195","name":"Definition des constantes","rules":[{"t":"set","p":"salles","pt":"flow","to":"{\"B_007\":21,\"B_101\":15,\"B_102\":15,\"B_103\":14,\"B_104\":15,\"B_105\":13,\"B_106\":15,\"B_217\":16,\"B_219\":34}","tot":"json"},{"t":"set","p":"conso.min","pt":"flow","to":"185","tot":"num"},{"t":"set","p":"conso.max","pt":"flow","to":"215","tot":"num"},{"t":"set","p":"conso.variation","pt":"flow","to":"3","tot":"num"},{"t":"set","p":"turnOnProb","pt":"flow","to":"0.3","tot":"num"},{"t":"set","p":"workingTime.min","pt":"flow","to":"10","tot":"num"},{"t":"set","p":"workingTime.max","pt":"flow","to":"90","tot":"num"},{"t":"set","p":"filePath","pt":"flow","to":"/home/user/.sumlationCache/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["d36bead1d3514713"]]},{"id":"d36bead1d3514713","type":"function","z":"b353af8bea604195","name":"Recuperation salles","func":"items = Object.keys(flow.get(\"salles\"));\npaths = [];\n\nitems.forEach((item) => {\n  paths.push(flow.get('filePath')+item+'.json');\n});\nmsg.payload = paths;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":100,"wires":[["a38d2495fc32dfac"]]},{"id":"058ffea02527a60e","type":"link in","z":"b353af8bea604195","name":"1","links":["d9fe7ad029d6667f"],"x":70,"y":360,"wires":[["d17dde529e2a08ff"]],"l":true},{"id":"d9fe7ad029d6667f","type":"link out","z":"b353af8bea604195","name":"1","mode":"link","links":["058ffea02527a60e"],"x":1170,"y":160,"wires":[],"l":true},{"id":"d17dde529e2a08ff","type":"file in","z":"b353af8bea604195","name":"Lecture du fichier de la sale actuelle","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":360,"wires":[["a6e4d84c88e08cbc"]],"inputLabels":["ll"]},{"id":"2fee2894d9338da5","type":"catch","z":"b353af8bea604195","name":"Si le fichier n'existe pas","scope":["d17dde529e2a08ff"],"uncaught":false,"x":340,"y":300,"wires":[["9d2bdeb8b324881b","08e5cc0c4ee6dc40"]]},{"id":"83a99d15800f1148","type":"change","z":"b353af8bea604195","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["d9fe7ad029d6667f","0df9f00020a5503b"]]},{"id":"9d2bdeb8b324881b","type":"function","z":"b353af8bea604195","name":"Creation du contenu","func":"let fileContent = {};\nfileContent['salle'] = msg.payload.replace(flow.get('filePath'),'').replace('.json', '');\nfileContent['postes'] = [];\n\nmsg.payload = JSON.stringify(fileContent);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":220,"wires":[["572e07b2fd70319e"]]},{"id":"572e07b2fd70319e","type":"file","z":"b353af8bea604195","name":"Création d'un fichier","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":960,"y":220,"wires":[["d9fe7ad029d6667f"]]},{"id":"08e5cc0c4ee6dc40","type":"debug","z":"b353af8bea604195","name":"lecture fichier (correct+err)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":300,"wires":[]},{"id":"a6e4d84c88e08cbc","type":"json","z":"b353af8bea604195","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":360,"wires":[["08e5cc0c4ee6dc40","3fa5874169782139"]]},{"id":"f8045fdc6a1a392a","type":"change","z":"b353af8bea604195","name":"Stockage du time stamp de collecte","rules":[{"t":"set","p":"collectStamp","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[[]]},{"id":"7294a532fa6a5a8d","type":"link in","z":"b353af8bea604195","name":"2","links":["bd6f79f5b10e3ad4"],"x":70,"y":560,"wires":[["51a94290473dcd8e"]],"l":true},{"id":"bd6f79f5b10e3ad4","type":"link out","z":"b353af8bea604195","name":"2","mode":"link","links":["7294a532fa6a5a8d"],"x":970,"y":420,"wires":[],"l":true},{"id":"51a94290473dcd8e","type":"function","z":"b353af8bea604195","name":"Conditionnement des donnees","func":"msgFile = {\n    payload : {\n        salle : msg.payload.salle,\n        postes : msg.payload.postes\n    },\n    filename : msg.filename\n};\n\nmsgBD = {\n    payload : [{\n        consomation : msg.payload.conso\n    },\n    {\n        dataOrigin : 'simulation'\n    }],\n    measurement : msg.payload.salle\n};\n\nreturn [msgBD, msgFile];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":560,"wires":[["73d2eed85201a105","d11d06b667272d71"],["d47295e2c2b11353","246bbd8a43e1a0af"]],"outputLabels":["BD","Fichier"]},{"id":"73d2eed85201a105","type":"debug","z":"b353af8bea604195","name":"Sortie pour BD","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":480,"wires":[]},{"id":"d47295e2c2b11353","type":"debug","z":"b353af8bea604195","name":"Sortie pour Fichier","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":640,"wires":[]},{"id":"246bbd8a43e1a0af","type":"json","z":"b353af8bea604195","name":"","property":"payload","action":"str","pretty":true,"x":550,"y":580,"wires":[["d722f63957e6273d"]]},{"id":"d722f63957e6273d","type":"file","z":"b353af8bea604195","name":"Sauvegarde de l'etat de la salle","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":770,"y":580,"wires":[[]]},{"id":"d11d06b667272d71","type":"influxdb out","z":"b353af8bea604195","influxdb":"d49917b57774f2af","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":630,"y":540,"wires":[]},{"id":"42a11e7101db9a84","type":"debug","z":"b353af8bea604195","name":"Voir input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":180,"wires":[]},{"id":"d49917b57774f2af","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"CaptElec","name":"","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]